$font-fc: 'Fira Code', monospace;
$font-r: 'Roboto', sans-serif;

body {
  background: #fbfafc;

  a {
    display: inline-block;
    cursor: pointer;
  }
   .container {
    width: 1400px;
    margin: 0 auto;
  }
  ul li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }
}
