.social {
  margin-top: 70px;
  display: flex;
  justify-content: center;

  a {
    padding-right: 75px;
    padding-left: 75px;
    transition: 0.5s;

    &:hover {
      transform: scale(1.15);
      transition: 0.5s;
    }

    img {
      transition: 0.5s;
      width: 30px;
      height: 30px;
    }
  }
}

.phone {
  margin-top: 70px;
  text-align: center;
  text-decoration: none;

  a {
    font-family: $font-fc;
    font-size: 30px;
    color: #202020;
  }
}