
@keyframes bloom {
  0% {
    filter: grayscale(.8);
  }
  40% {
    filter: grayscale(.5);
  }
  100% {
    filter: grayscale(0);
  }
}
@keyframes circle {
  0% {
    opacity: 0.5;
    background: rgba(213,156,34,.2);
  }
  40% {
    opacity: 1;
    background: rgba(34, 208, 213, 0.2);
  }
  100% {
    width: 140%;
    height: 140%;
    opacity: 0;
  }
}