
@import url('https://fonts.googleapis.com/css?family=Fira+Code:400,500,600,700&display=swap&subset=cyrillic,cyrillic-ext');
@import '/main/core.scss';
@import '/main/footer.scss';
@import '/main/header.scss';
@import '/main/portfolio.scss';
@import '/main/section_about.scss';
@import '/main/section_contact.scss';
@import '/main/section_service.scss';
@import '/main/section_top.scss';
@import '/about/about.scss';

body {
  margin: 0;
  font-family: 'Fira Code', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

